@import "../colors.scss";
@import "../components/Track.scss";

.feed-page {
  display: flex;
  align-items: stretch;

  .info {
    position: relative;
    background: $themeColor10;
    flex: 1 0 600px;
    padding: 20px;

    .subscribe {
      display: block;
      width: 160px;
      float: right;
      margin: 20px 0 5px 10px;

      @media (max-width: 500px) {
        float: none;
        margin: 20px auto;
      }
    }

    @media (max-width: 500px) {
      h1 {
        text-align: center;
      }
    }

    .artwork {
      text-align: center;
    }

    img {
      width: 300px;
      border-radius: 10%;
    }
  }

  .tracks {
    .track {
      @include track();

      .track-info {
        padding-left: 20px;
      }
    }
  }

  .error {
    text-align: center;
    padding: 20px;
    color: #f00;
  }
}
