@import "../colors.scss";

.feed {
  display: block;
  padding: 10px 20px;
  background: transparentize($color: $themeColor10, $amount: 0.5);
  height: 120px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: lighten($themeColor10, 5%);
    filter: brightness(110%);
  }

  img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 15px;
  }
  h3 {
    margin: 5px 0;
    font-size: 16px;
  }
  p {
    margin: 0;
  }

  span {
    display: block;
    font-size: 14px;
  }
}
