@import "../colors.scss";
@import "./Track.scss";

.front-page {
  .subscriptions {
    h2 {
      margin: 10px 20px;
    }

    .subscription {
      padding: 10px 20px;
      background: transparentize($color: $themeColor10, $amount: 0.5);
      height: 120px;
      cursor: pointer;

      &:hover {
        background: lighten($themeColor10, 5%);
        filter: brightness(110%);
      }

      img {
        float: left;
        border-radius: 10%;
        margin-right: 20px;
        width: 100px;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
  .recent-tracks {
    h2 {
      margin: 10px 20px;
    }
    .track {
      @include track();
      min-height: 100px;

      .track-info {
        img {
          float: left;
          width: 80px;
          margin-right: 20px;
          border-radius: 10%;
        }
      }
    }
  }
}
