@import "../colors.scss";

.search {
  display: inline-block;

  .search-field {
    position: relative;

    max-width: 500px;

    input {
      width: 100%;
    }

    .loading-mask {
      background: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 80px;
    }
  }

  .search-results {
    position: fixed;
    top: 60px;
    left: 0px;
    z-index: 10;
    max-height: calc(100vh - 60px - 120px);
    overflow: auto;
    max-width: 100vw;
    width: 450px;
    min-width: 40vw;
    border-bottom: 1px solid $themeColor;
    box-shadow: 0 10px 10px rgba(0, 0, 20, 0.2);
    background: $themeColor;

    .feed {
      background: $themeColor10;
    }
  }
}
