@import "../colors.scss";

.waves {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  color: saturate(lighten($themeColor, 40%), 20%);
  opacity: 0.5;
  pointer-events: none;

  svg {
    position: absolute;
    bottom: 0;
  }
}
